
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8023ce706a.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="loginPage.css">
    <script src="/views/jsfunctions.js"></script>
    <title>YourB&B</title>
</head>
<body>


    <header>
        <h1>YOURB&B</h1>
        <nav class="navbar navbar-expand-lg fixed-top">
            <a href="/" class="navig">Home</a>
            <a href="listing" class="navig">Room Listings</a>
            <a href="#" onclick="document.getElementById('theModalForm').style.display='block'" class="navig">User Registration</a>
            {{#if user}}
                <a href="/loginPage"><i class="fas fa-user-circle"></i></a>
            {{else}}    
            <a href="login" class="loginBut">Login</a>
            {{/if}}
            <i class="fas fa-shopping-cart"></i>
            
        </nav>
    </header>


<div class="showInfo">

    <h1> Hello {{user.username}}</h1>
    <p>Welcome to your profile page</p>
    <p>Here are your information: </p>
    <h4>First name: {{user.fname}}</h4>
    <h4>Last Name: {{user.lname}}</h4>
    <h4>email: {{user.email}}</h4>

    <a href="/logout" id="logoutbut">Logout</a>


</div>

<div class="listing_block" id="listCard">
{{#if hasPhotos}} {{#each photos}}
        <div class="card">
            <img src="/photos/{{filename}}" alt="" style="max-width: 300px; max-height: 300px">
            
            <h1>{{title}}</h1>
            <p class="price">{{price}}</p>
            <h6>{{location}}</h6>
            <p>{{description}}</p>
            {{#if user.isAdmin}}
            <a href="/Delete/{{_id}}"><i class="fas fa-trash" style="color: white;"></i></a>
            {{/if}}
            <p><button class="cartbuts">Add to Cart</button></p>
            

        </div>
{{/each}} 
{{else}}
    <p>No Photos have been uploaded</p>
{{/if}}

</div>



    <!-- User Registration -->
        
       <div class="modal" id="theModalForm">
                    <form action="/test-form-process" method="POST" enctype="multipart/form-data">
                        
                        <div class="registerForm">
                            <span class="closing" onclick="document.getElementById('theModalForm').style.display='none';">&otimes;</span>
                            <h1>Sign Up</h1>

                    <label for="username">User Name </label>
                    <input type="text" placeholder="Enter Your User Name" name="username" id="userName" required>        
                            
                    <label for="email">Email</label>
                    <input type="text" placeholder="Enter Your Email Address" name="email" id="email" required>
                    
                    <label for="fname">First Name</label>
                    <input type="text" placeholder="Enter Your First Name" name="fname" id="fname" required>
                    
                    <label for="lname">Last Name</label>
                    <input type="text" placeholder="Enter Your Last Name" name="lname" id="lname" required>
                    
                    
                    <label for="password">Password</label>
                    <input type="password" placeholder="Enter Your Password" name="password" id="password" minlength="8" required>
                    
                    <h3 id="ermsg" style="display: none;">Password must be more than 8 characters</h3>
                    
                    
                    <label for="birthday">Birthday</label>
                    <p>To sign up, you need to be at least 18. Other people who use Yourbnb won't see your birthday.</p>

                    <input type="date" name="birthday" required>
                    
                    <br><label for="photo" style="margin-top: 10px;">Profile Image</label>
                    <input type="file" name="photo" style="width: 100%; margin: 10px 0 10px 0;">
                    
                    <p>We'll send you marketing promotions, special offers, inspiration, and policy updates via email</p>
                    
                    
                    <input type="submit">
                </div>
            </form>
        </div>


   

    
      
      
</body>    